{{include file="head.html"}}
<div id="blog" class="container">
   <div class="blog wow fadeInDown">
        <div class="blog-item">
            <img class="img-responsive img-blog" src="images/neden_viashipyard.jpg" width="100%" alt="" />
                <div class="row">  
                    
                    <div class="col-xs-12 col-sm-10 blog-content">
                        <h2>{{$T.MENU_ABOUTVIAS}}</h2>
                        <p>{{$T.ABOUTVIAS_TEXT1}}</p>

                        <p>{{$T.ABOUTVIAS_TEXT2}}</p>
						
                        <p>{{$T.ABOUTVIAS_TEXT3}}</p>
						
                        <p>{{$T.ABOUTVIAS_TEXT4}}</p>
                        
						<p>{{$T.ABOUTVIAS_TEXT5}}</p>

                    </div>
                </div>
            </div><!--/.blog-item-->

     </div><!--/.blog-->
</div><!--/#blog-->
{{include file="footer.html"}}

{{include file="footer_scripts.html"}}