<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="regular.html#">
						AnaSayfa 
                    </a>
                </li>
                <li>
                    <a href="regular.html#">
						Profil 
                    </a>
                </li>
                <li>
                    <a href="regular.html#">
						Sayfalar 
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>